[Unit]
Description=apsys

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 20 && python /home/air/control_AIR/start_AIR.py"

[Install]
WantedBy=multi-user.target
