[Unit]
Description=apsys

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 20 && python /home/chp/control_CHP/start_CHP.py"

[Install]
WantedBy=multi-user.target
